/*-------------------
    TYPO
-------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
/*-------------------
    HEADER
-------------------*/
header {
    background-color: #2c3e50;
}
header i {
    color: #888888;
}
header a {
    text-decoration: none;
    color: inherit;
}