/*-------------------
    TYPO
-------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
/*-------------------
    COLOR
-------------------*/
.hero, #about {
    background-color: #1abc9c;
}
.footer_top {
    background-color: #3a546d;
}
.footer_bot {
    background-color: #2c3e50;
}
#portfolio, #contact {
    color: #2c3e50;
}
.border_grey {
    border: 1px solid #2c3e50;
}
.bg_green {
    background-color: #1abc9c;
}
/*-------------------
    COMMON
-------------------*/
.line {
    height: 2px;
    width: 20%
}
section {
    padding: 20px 0;
}
.container_small {
    max-width: 65%;
    margin: auto;
}
/*-------------------
    HEADER
-------------------*/
header {
    background-color: #2c3e50;
}
header i {
    color: #888888;
}
header a {
    text-decoration: none;
    color: inherit;
}
/*-------------------
    HERO
-------------------*/
.hero img {
    width: 300px;
}
/*-------------------
    PORTFOLIO
-------------------*/
#portfolio div.bg_green {
    position: relative;
}
#portfolio img {
    width: 100%;
}
#portfolio div i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    color: white;
    display: none;
    transform: translate(-50%, -50%);
}
/*-------------------
    FOOTER
-------------------*/
.footer_icon {
    display: inline-block;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    padding: 10px 12px;
    margin: 0 5px;
}
.footer_icon i {
    display: inline-block;
    width: 20px;
    height: 20px;
}
footer a{
    color: #1abc9c;
}
/*-------------------
    EFFETTI
-------------------*/
#portfolio div.bg_green:hover i{
    display: inline-block;
}
#portfolio div.bg_green:hover img {
    opacity: 0.5;
}