/*-------------------
    DEBUG
-------------------*/
[class*="col"] {
    min-height: 300px;
}
/*-------------------
    TYPO
-------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
/*-------------------
    COMMON
-------------------*/
.container_max_900px {
    max-width: 900px;
    margin: auto;
}
/*-------------------
    HEADER
-------------------*/
header {
    background-color: #2c3e50;
}
header i {
    color: #888888;
}
header a {
    text-decoration: none;
    color: inherit;
}
/*-------------------
    HERO
-------------------*/
.hero {
    background-color: #1abc9c;
}