/*-------------------
    DEBUG
-------------------*/
main [class*="col"] {
    min-height: 300px;
}
/*-------------------
    TYPO
-------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
/*-------------------
    COLOR
-------------------*/
.hero, #about {
    background-color: #1abc9c;
}
.footer_top {
    background-color: #3a546d;
}
.footer_bot {
    background-color: #2c3e50;
}
/*-------------------
    COMMON
-------------------*/
.container_max_1000px {
    max-width: 1000px;
    margin: auto;
}
.container_small {
    width: 50%;
    margin: auto;
}
.hero .float-start, .hero .float-end {
    width: 40%;
}
.line {
    height: 2px;
}
/*-------------------
    HEADER
-------------------*/
header {
    background-color: #2c3e50;
}
header i {
    color: #888888;
}
header a {
    text-decoration: none;
    color: inherit;
}
/*-------------------
    HERO
-------------------*/
.hero img {
    width: 40%;
}